<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-4 ">
  <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active h5">
        <%= link_to 'Users', root_path, class: "nav-link active" %>
      </li>
      <li class="nav-item h5">
        <%= link_to 'Roles', pages_about_path, class: "nav-link" %>
      </li>
      <li class="nav-item h5">
        <%= link_to 'Permission', pages_about_path, class: "nav-link" %>
      </ul>
    </div>
  </nav>
